body {
  font-family: "Ubuntu";
}
.transaction-main {
  margin: 20px auto;
  width: 80%;
}
table#transaction-details, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.transaction-table {
  overflow: auto;
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
}
table#transaction-summary {
  border-collapse: collapse;
  margin: 0px auto;
  width: 100%;
}
#transaction-summary td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.tran-pagination {
  border: none !important;
}

#transaction-summary th {
  border: 1px solid #dddddd;
  padding: 8px;
}

#transaction-summary tr:nth-child(even) {
  background-color: #dddddd;
}

.transaction-date {
  width: 15%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .icon {
    margin-top: 11px;
    margin-right: 10px;
  }
}