
body {
  /*font-family: "Roboto", sans-serif;*/
  font-family: "Comic Sans MS";
}

/*styling of the Signup Page*/
.create-account-container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 20px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.account-type-radio {
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #dd4f05;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ab3d04;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #dd4f05;
  text-decoration: none;
}





/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-container {
      max-width: 100%;
      grid-template-columns: auto;
  }
  /* .header-container div {
      width: 100%;
  } */

.login-page {
  width: 70%;
  margin: auto;
}

.form {
    padding: 0px;
    box-shadow: none;
    margin: 0px auto 10px;
}
}


@media (min-width: 601px) and (max-width: 968px) {
  
}

