body {
  font-family: "Comic Sans MS";
}
.transaction-container {
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
}

.account-search {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 64%;
  margin: 0px auto;
}

.check-form {
  display: grid;
  grid-template-columns: auto auto 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  width: 80%;
}
.check-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #dd4f05;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.check-form button:hover {
  background: #ab3d04;
}
.check-input {
  padding: 10px;
  margin: 10px;
}

.account-found {
  display: flex;
  margin: 0px auto;
  width: 80%;
  justify-content: space-evenly;
}
.credit-debit-form {
  width: 30%;
}

.credit-debit {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.transaction-narration {
  margin: 0px;
  width: 100%;
  height: 76px;
}


@media only screen and (max-width: 771px) {
  .credit-debit-form {
    width: 100%;
    margin-top: 15px;
  }
  .check-form {
    flex-direction: column;
    margin: 0px auto;
  }

  .account-found {
    flex-direction: column;
  }

  .check-form {
    grid-template-columns: auto;
  }
  .account-search {
    width: 79%;
    margin-left: 25px;
  }
  
}



@media (min-width: 772px) and (max-width: 968px) {
  .credit-debit-form {
    width: 53%;
  }
  .account-search {
    width: 91%;
  }
  .transaction-container {
    margin-right: 20px;
  }
}